<div class="container">
  <div class="row justify-content-center uploader-status">
    <div class="col-12 text-center">
      <h3 class="text-dark">
        <strong> ¿ Desea guardar los cambios del cliente?</strong>
      </h3>
    </div>
  </div>

  <div class="row justify-content-center uploader-status">
    <div class="col-6">
      <span><strong>Cédula</strong></span>
    </div>
    <div class="col-6 text-right">
      <span>{{ data.number_id }}</span>
    </div>
    <div class="col-6">
      <span><strong>Nombre</strong></span>
    </div>
    <div class="col-6 text-right">
      <span>{{ data.name }}</span>
    </div>
    <div class="col-6">
      <span><b>Fecha de nacimiento</b></span>
    </div>
    <div class="col-6 text-right">
      <span>{{ data.birthday }}</span>
    </div>
    <div class="col-6">
      <span><b>Correo Electrónico</b></span>
    </div>
    <div class="col-6 text-right">
      <span>{{ data.email }}</span>
    </div>
    <div class="col-6">
      <span><b>Número Celular</b></span>
    </div>
    <div class="col-6 text-right">
      <span>{{ data.phone }}</span>
    </div>
    <div class="col-6">
      <span><b>Dirección</b></span>
    </div>
    <div class="col-6 text-right">
      <span>{{ data.address }}</span>
    </div>
  </div>

  <div class="row justify-content-end uploader-status">
    <div class="col-6 col-lg-3 col-md-6">
      <button
        (click)="CloseModal(false)"
        type="button"
        class="btn btn-danger w-100"
      >
        No
      </button>
    </div>
    <div class="col-6 col-lg-3 col-md-6">
      <button
        (click)="CloseModal(true)"
        type="button"
        class="btn btn-success w-100"
      >
        Si
      </button>
    </div>
  </div>
</div>
