<div class="container">
  <div class="row justify-content-center uploader-status">
    <div class="col-12 text-center">
      <h3 class="text-dark">
        <strong> ¿ Desea eliminar la cuenta {{ data.name_account }}?</strong>
      </h3>
    </div>
  </div>

  <div class="row justify-content-center uploader-status">
    <div class="col-6">
      <span><strong>Código</strong></span>
    </div>
    <div class="col-6 text-right">
      <span>{{ data.id_account }}</span>
    </div>
    <div class="col-6">
      <span><strong>Tipo</strong></span>
    </div>
    <div class="col-6 text-right">
      <span>{{ data.id_type_account }}</span>
    </div>
    <div class="col-6">
      <span><strong>Código</strong></span>
    </div>
    <div class="col-6 text-right">
      <span>{{ data.name_account }}</span>
    </div>
  </div>

  <div class="row justify-content-end uploader-status">
    <div class="col-6 col-lg-3 col-md-6">
      <button
        (click)="CloseModal(false)"
        type="button"
        class="btn btn-danger w-100"
      >
        No
      </button>
    </div>
    <div class="col-6 col-lg-3 col-md-6">
      <button
        (click)="CloseModal(true)"
        type="button"
        class="btn btn-success w-100"
      >
        Si
      </button>
    </div>
  </div>
</div>
