<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-tab-group class="pt-4 bg-white" [(selectedIndex)]="selectedTab">
          <mat-tab>
            <ng-template mat-tab-label>
              <span
                #tooltip="matTooltip"
                matTooltip="Listado de Usuarios"
                color="primary"
              >
                <i class="material-icons color-toooltip-text"
                  >library_books</i
                ></span
              >
            </ng-template>
            <div>
              <div class="card-body overflow-hidden">
                <div class="row justify-content-center">
                  <div class="col col-12 col-sm-4 col-md-4 text-center">
                    <mat-form-field
                      [formGroup]="formFilterData"
                      class="mx-auto"
                      appearance="outline"
                    >
                      <mat-label class="pl-3"
                        >Buscar por cédula o ruc</mat-label
                      >
                      <span matPrefix>
                        <i class="material-icons">search</i></span
                      >
                      <input
                        matInput
                        (keypress)="keyPressNumbers($event)"
                        autocomplete="off"
                        formControlName="id_number"
                        type="text"
                        class="pl-3 font-weight-bold text-size-18px text-center"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 text-center">
                    <mat-form-field
                      class="mx-auto"
                      appearance="outline"
                      [formGroup]="formFilterData"
                    >
                      <mat-label class="pl-3">Buscar por nombre</mat-label>
                      <span matPrefix>
                        <i class="material-icons">search</i></span
                      >
                      <input
                        matInput
                        autocomplete="off"
                        formControlName="name"
                        type="text"
                        class="pl-3 font-weight-bold text-size-18px text-center"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 text-center">
                    <mat-form-field
                      class="mx-auto"
                      appearance="outline"
                      [formGroup]="formFilterData"
                    >
                      <mat-label class="pl-3">Buscar por tipo</mat-label>
                      <span matPrefix>
                        <i class="material-icons">search</i></span
                      >
                      <mat-select
                        formControlName="id_user_type"
                        class="cursor-pointer text-center text-size-18px"
                      >
                        <mat-option value="" class="text-center">
                          <strong>-- Todos los tipos --</strong></mat-option
                        >
                        <mat-option
                          class="text-center"
                          *ngFor="let item of typesUsers"
                          value="{{ item.id_user_type }}"
                          >{{ item.desc_user_type }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="mat-elevation-z2 overflow-auto max-height-300">
                  <table
                    mat-table
                    table-hover
                    [dataSource]="dataSource"
                    class="w-100 min-width-600"
                  >
                    <ng-container matColumnDef="id_number">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="text-size-18px font-weight-bold text-dark"
                      >
                        <strong>CÉDULA O RUC</strong>
                      </th>
                      <td
                        class="text-size-18px"
                        mat-cell
                        *matCellDef="let element"
                      >
                        {{ element.id_number }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="text-size-18px font-weight-bold text-dark"
                      >
                        <strong>NOMBRE</strong>
                      </th>
                      <td
                        class="text-size-18px"
                        mat-cell
                        *matCellDef="let element"
                      >
                        {{ element.name }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="text-size-18px font-weight-bold text-dark"
                      >
                        <strong>EMAIL</strong>
                      </th>
                      <td
                        class="text-size-18px"
                        mat-cell
                        *matCellDef="let element"
                      >
                        {{ element.email }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="phone">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="text-size-18px font-weight-bold text-dark"
                      >
                        <strong>TELÉFONO</strong>
                      </th>
                      <td
                        class="text-size-18px"
                        mat-cell
                        *matCellDef="let element"
                      >
                        {{ element.phone }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="text-size-18px font-weight-bold text-dark"
                      >
                        <strong>EDITAR</strong>
                      </th>
                      <td
                        class="text-size-18px"
                        mat-cell
                        *matCellDef="let element"
                      >
                        <i
                          (click)="EditAccount(element)"
                          class="material-icons cursor-pointer"
                          >edit</i
                        >
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="text-size-18px font-weight-bold text-dark"
                      >
                        <strong>ELIMINAR</strong>
                      </th>
                      <td
                        class="text-size-18px"
                        mat-cell
                        *matCellDef="let element"
                      >
                        <i
                          (click)="DeleteAccount(element)"
                          class="material-icons text-danger cursor-pointer"
                          >delete</i
                        >
                      </td>
                    </ng-container>

                    <tr
                      mat-header-row
                      *matHeaderRowDef="displayedColumns; sticky: true"
                    ></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>

                    <tr class="mat-row text-center" *matNoDataRow>
                      <td class="mat-cell" colspan="4">
                        <span class="text-size-18px">
                          No existen datos para <strong> </strong
                        ></span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span
                #tooltip="matTooltip"
                matTooltip="Agregar Usuario "
                color="primary"
              >
                <i class="material-icons color-toooltip-text"
                  >library_add</i
                ></span
              >
            </ng-template>
            <div>
              <div class="card-body pt-1">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-12 text-center">
                      <h3 class="text-dark">
                        <span><strong>Nuevo Usuario</strong> </span>
                      </h3>
                    </div>
                  </div>
                  <form class="w-100 mt-2">
                    <div class="row justify-content-center">
                      <div
                        class="
                          col-12 col-md-6 col-lg-6
                          max-width-input-forms-add
                        "
                      >
                        <mat-form-field
                          [formGroup]="formCreateUser"
                          appearance="outline"
                          class="w-100"
                        >
                          <mat-label class="text-muted">CÉDULA O RUC</mat-label>

                          <input
                            matInput
                            (keypress)="keyPressNumbers($event)"
                            type="tel"
                            formControlName="id_number"
                            autocomplete="off"
                            class="text-center text-size-18px"
                          />
                          <mat-hint class="w-100 text-dark"></mat-hint>
                          <mat-error
                            class="text-danger"
                            *ngIf="
                              this.father.GroupFormGeneralisControlHasError(
                                this.formCreateUser,
                                'id_number',
                                this.formCreateUserErrors
                              )
                            "
                            >{{
                              this.formCreateUserErrors.id_number
                            }}</mat-error
                          >
                        </mat-form-field>
                      </div>
                      <div
                        class="
                          col-12 col-md-6 col-lg-6
                          max-width-input-forms-add
                        "
                      >
                        <mat-form-field
                          [formGroup]="formCreateUser"
                          appearance="outline"
                          class="w-100"
                        >
                          <mat-label class="text-muted">NOMBRE</mat-label>

                          <input
                            matInput
                            type="text"
                            formControlName="name"
                            autocomplete="off"
                            class="text-center text-size-18px"
                          />
                          <mat-hint class="w-100 text-dark"></mat-hint>
                          <mat-error
                            class="text-danger"
                            *ngIf="
                              this.father.GroupFormGeneralisControlHasError(
                                this.formCreateUser,
                                'name',
                                this.formCreateUserErrors
                              )
                            "
                            >{{ this.formCreateUserErrors.name }}</mat-error
                          >
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div
                        class="
                          col-12 col-md-6 col-lg-6
                          max-width-input-forms-add
                        "
                      >
                        <mat-form-field
                          [formGroup]="formCreateUser"
                          appearance="outline"
                          class="w-100"
                        >
                          <mat-label class="text-muted">DIRECCIÓN</mat-label>

                          <input
                            matInput
                            type="text"
                            formControlName="address"
                            autocomplete="off"
                            class="text-center text-size-18px"
                          />
                          <mat-hint class="w-100 text-dark"></mat-hint>
                          <mat-error
                            class="text-danger"
                            *ngIf="
                              this.father.GroupFormGeneralisControlHasError(
                                this.formCreateUser,
                                'address',
                                this.formCreateUserErrors
                              )
                            "
                            >{{ this.formCreateUserErrors.address }}</mat-error
                          >
                        </mat-form-field>
                      </div>
                      <div
                        class="
                          col-12 col-md-6 col-lg-6
                          max-width-input-forms-add
                        "
                      >
                        <mat-form-field
                          [formGroup]="formCreateUser"
                          appearance="outline"
                          class="w-100 cursor-pointer"
                        >
                          <mat-label class="text-muted"
                            >FECHA DE NACIMIENTO</mat-label
                          >
                          <input
                            matInput
                            [matDatepicker]="picker"
                            (keypress)="keyPressNumbers($event)"
                            formControlName="birthday"
                            autocomplete="off"
                            type="tel"
                            class="cursor-pointer text-center text-size-18px"
                          />
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>

                          <mat-hint class="w-100 text-dark"></mat-hint>
                          <mat-error
                            class="text-danger"
                            *ngIf="
                              this.father.GroupFormGeneralisControlHasError(
                                this.formCreateUser,
                                'birthday',
                                this.formCreateUserErrors
                              )
                            "
                            >{{ this.formCreateUserErrors.birthday }}</mat-error
                          >
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div
                        class="
                          col-12 col-md-6 col-lg-6
                          max-width-input-forms-add
                        "
                      >
                        <mat-form-field
                          appearance="outline"
                          class="w-100 cursor-pointer"
                          [formGroup]="formCreateUser"
                        >
                          <mat-label class="text-muted"
                            >TIPO DE USUARIO</mat-label
                          >

                          <mat-select
                            #matRef
                            formControlName="id_user_type"
                            class="cursor-pointer text-center text-size-18px"
                            (selectionChange)="SelectTypeUser($event.value)"
                          >
                            <mat-option value="" class="text-center">
                              <strong
                                >-- Selecione Tipo de Usuario --</strong
                              ></mat-option
                            >
                            <mat-option
                              class="text-center"
                              *ngFor="let item of typesUsers"
                              value="{{ item.id_user_type }}"
                              >{{ item.desc_user_type }}</mat-option
                            >
                          </mat-select>
                          <mat-hint class="w-100 text-dark"> </mat-hint>
                          <mat-error
                            class="text-danger"
                            *ngIf="
                              this.father.GroupFormGeneralisControlHasError(
                                this.formCreateUser,
                                'id_user_type',
                                this.formCreateUserErrors
                              )
                            "
                            >{{
                              this.formCreateUserErrors.id_user_type
                            }}</mat-error
                          >
                        </mat-form-field>
                      </div>
                      <div
                        class="
                          col-12 col-md-6 col-lg-6
                          max-width-input-forms-add
                        "
                      >
                        <mat-form-field
                          appearance="outline"
                          class="w-100"
                          [formGroup]="formCreateCredential"
                        >
                          <mat-label class="text-muted"
                            >CORREO ELECTRÓNICO</mat-label
                          >

                          <input
                            matInput
                            type="email"
                            formControlName="email"
                            autocomplete="off"
                            class="text-center text-size-18px"
                          />
                          <mat-hint class="w-100 text-dark"></mat-hint>
                          <mat-error
                            class="text-danger"
                            *ngIf="
                              this.father.GroupFormGeneralisControlHasError(
                                this.formCreateCredential,
                                'email',
                                this.formCreateCredentialErrors
                              )
                            "
                            >{{
                              this.formCreateCredentialErrors.email
                            }}</mat-error
                          >
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div
                        class="
                          col-12 col-md-6 col-lg-6
                          max-width-input-forms-add
                        "
                      >
                        <mat-form-field
                          [formGroup]="formCreateCredential"
                          appearance="outline"
                          class="w-100"
                        >
                          <mat-label class="text-muted">TELÉFONO</mat-label>

                          <input
                            matInput
                            (keypress)="keyPressNumbers($event)"
                            type="tel"
                            formControlName="phone"
                            autocomplete="off"
                            class="text-center text-size-18px"
                          />

                          <mat-hint class="w-100 text-dark"></mat-hint>
                          <mat-error
                            class="text-danger"
                            *ngIf="
                              this.father.GroupFormGeneralisControlHasError(
                                this.formCreateCredential,
                                'phone',
                                this.formCreateCredentialErrors
                              )
                            "
                            >{{
                              this.formCreateCredentialErrors.phone
                            }}</mat-error
                          >
                        </mat-form-field>
                      </div>

                      <div
                        class="
                          col-12 col-md-6 col-lg-6
                          max-width-input-forms-add
                        "
                      >
                        <mat-form-field
                          appearance="outline"
                          class="w-100 cursor-pointer"
                          *ngIf="showTypeRol"
                          [formGroup]="formCreateCredential"
                        >
                          <mat-label class="text-muted">ROL USUARIO</mat-label>

                          <mat-select
                            #matRef
                            formControlName="id_role"
                            class="cursor-pointer text-center text-size-18px"
                          >
                            <mat-option value="" class="text-center">
                              <strong
                                >-- Selecione Rol de Usuario --</strong
                              ></mat-option
                            >
                            <mat-option
                              class="text-center"
                              *ngFor="let item of typeRole"
                              value="{{ item.id_role }}"
                              >{{ item.desc_role }}</mat-option
                            >
                          </mat-select>
                          <mat-hint class="w-100 text-dark"> </mat-hint>
                          <mat-error
                            class="text-danger"
                            *ngIf="
                              this.father.GroupFormGeneralisControlHasError(
                                this.formCreateCredential,
                                'id_role',
                                this.formCreateCredentialErrors
                              )
                            "
                            >{{
                              this.formCreateCredentialErrors.id_role
                            }}</mat-error
                          >
                        </mat-form-field>
                      </div>
                    </div>
                  </form>

                  <div class="row justify-content-center">
                    <div
                      class="
                        col-12 col-lg-4
                        max-width-buttons-forms-add
                        text-right
                      "
                    >
                      <span #tooltip="matTooltip" matTooltip="Limpiar "
                        ><img
                          class="cursor-pointer"
                          (click)="
                            cleanForm([formCreateUser, formCreateCredential])
                          "
                          src="../../assets/img/clean.png"
                          width="50px"
                          alt=""
                      /></span>
                    </div>
                    <div class="col-12 col-lg-4 max-width-buttons-forms-add">
                      <span #tooltip="matTooltip" matTooltip="Guardar"
                        ><img
                          class="cursor-pointer"
                          (click)="CreateAccount()"
                          src="../../assets/img/diskette.png"
                          width="50px"
                          alt=""
                      /></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
