<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-tab-group class="pt-4 bg-white">
          <mat-tab>
            <ng-template mat-tab-label>
              <span
                #tooltip="matTooltip"
                matTooltip="Listado de Movimientos"
                color="primary"
              >
                <i class="material-icons color-toooltip-text"
                  >library_books</i
                ></span
              >
            </ng-template>
            <div>
              <div class="card-body overflow-hidden">
                <mat-form-field
                  class="max-width-search-input"
                  appearance="outline"
                >
                  <mat-label></mat-label>
                  <span matPrefix> <i class="material-icons">search</i></span>
                  <input
                    matInput
                    autocomplete="off"
                    #input
                    type="text"
                    class="pl-3 font-weight-bold text-size-18px"
                  />
                </mat-form-field>
                <div
                  class="
                    mat-elevation-z2
                    cursor-pointer
                    overflow-auto
                    max-height-300
                  "
                >
                  <table
                    mat-table
                    table-hover
                    [dataSource]="dataSource"
                    class="w-100 min-width-600"
                  >
                    <ng-container matColumnDef="id_account">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="text-size-18px font-weight-bold text-dark"
                      >
                        <strong>CÓDIGO</strong>
                      </th>
                      <td
                        class="text-size-18px"
                        mat-cell
                        *matCellDef="let element"
                      >
                        {{ element.id_account }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="type_account">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="text-size-18px font-weight-bold text-dark"
                      >
                        <strong>TIPO</strong>
                      </th>
                      <td
                        class="text-size-18px"
                        mat-cell
                        *matCellDef="let element"
                      >
                        {{ element.id_type_account === 1 ? "M" : "A" }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="name_account">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="text-size-18px font-weight-bold text-dark"
                      >
                        <strong>NOMBRE</strong>
                      </th>
                      <td
                        class="text-size-18px"
                        mat-cell
                        *matCellDef="let element"
                      >
                        {{ element.name_account }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="text-size-18px font-weight-bold text-dark"
                      >
                        <strong>EDITAR</strong>
                      </th>
                      <td
                        class="text-size-18px"
                        mat-cell
                        *matCellDef="let element"
                      >
                        <i (click)="EditAccount(element)" class="material-icons"
                          >edit</i
                        >
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="text-size-18px font-weight-bold text-dark"
                      >
                        <strong>ELIMINAR</strong>
                      </th>
                      <td
                        class="text-size-18px"
                        mat-cell
                        *matCellDef="let element"
                      >
                        <i
                          (click)="DeleteAccount(element)"
                          class="material-icons text-danger"
                          >delete</i
                        >
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      [ngClass]="
                        row.id_type_account === 1
                          ? 'font-weight-bold'
                          : 'font-weight-light'
                      "
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>

                    <tr class="mat-row text-center" *matNoDataRow>
                      <td class="mat-cell" colspan="4">
                        <span class="text-size-18px">
                          No existen datos <strong> </strong
                        ></span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span
                #tooltip="matTooltip"
                matTooltip="Agregar Movimiento"
                color="primary"
              >
                <i class="material-icons color-toooltip-text"
                  >library_add</i
                ></span
              >
            </ng-template>
            <div class="card-body pt-0 pb-0">
              <div class="form-group pb-0">
                <div class="row justify-content-center">
                  <div class="col-12 text-center">
                    <h3 class="text-dark">
                      <span><strong>Nuevo Movimiento</strong> </span>
                    </h3>
                  </div>
                </div>
                <form [formGroup]="formHeader" class="w-100 mt-2 mb-0">
                  <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-2">
                      <mat-form-field
                        appearance="outline"
                        class="w-100 cursor-pointer"
                      >
                        <mat-label class="text-muted">FECHA</mat-label>
                        <input
                          matInput
                          [matDatepicker]="picker"
                          (keypress)="keyPressNumbers($event)"
                          formControlName="date_mov"
                          autocomplete="off"
                          type="tel"
                          class="cursor-pointer text-center text-size-18px"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                        <mat-hint class="w-100 text-dark"></mat-hint>
                        <mat-error
                          class="text-danger"
                          *ngIf="
                            this.father.GroupFormGeneralisControlHasError(
                              this.formHeader,
                              'date_mov',
                              this.formHeaderErrors
                            )
                          "
                          >{{ this.formHeaderErrors.date_mov }}</mat-error
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                      <mat-form-field
                        appearance="outline"
                        class="w-100 cursor-pointer"
                      >
                        <mat-label class="text-muted">CÉDULA O RUC</mat-label>
                        <input
                          type="tel"
                          aria-label="Number"
                          matInput
                          formControlName="id_number_mov"
                          type="tel"
                          (keyup)="pressFindVal($event.target.value)"
                          (keypress)="keyPressNumbers($event)"
                          class="cursor-pointer text-center text-size-18px"
                          [matAutocomplete]="auto"
                        />
                        <mat-autocomplete
                          #auto="matAutocomplete"
                          (optionSelected)="getPosts($event.option.value)"
                        >
                          <mat-option
                            *ngFor="let option of filteredOptions | async"
                            [value]="option.id_number"
                          >
                            {{ option.id_number }} - {{ option.name }}
                          </mat-option>
                        </mat-autocomplete>

                        <mat-hint class="w-100 text-dark"></mat-hint>
                        <mat-error
                          class="text-danger"
                          *ngIf="
                            this.father.GroupFormGeneralisControlHasError(
                              this.formHeader,
                              'id_number_mov',
                              this.formHeaderErrors
                            )
                          "
                          >{{ this.formHeaderErrors.id_number_mov }}</mat-error
                        >
                      </mat-form-field>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                      <mat-form-field
                        appearance="outline"
                        class="w-100 cursor-pointer"
                      >
                        <mat-label class="text-muted"
                          >NOMBRE PORTADOR</mat-label
                        >

                        <input
                          matInput
                          disabled
                          readonly
                          type="text"
                          formControlName="name_por_mov"
                          autocomplete="off"
                          class="
                            cursor-pointer
                            text-center text-size-18px text-muted
                          "
                          (keypress)="keyPressNumbers($event)"
                        />
                        <mat-hint class="w-100 text-dark"></mat-hint>
                        <mat-error
                          class="text-danger"
                          *ngIf="
                            this.father.GroupFormGeneralisControlHasError(
                              this.formHeader,
                              'name_por_mov',
                              this.formHeaderErrors
                            )
                          "
                          >{{ this.formHeaderErrors.name_por_mov }}</mat-error
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                      <mat-form-field
                        appearance="outline"
                        class="w-100 cursor-pointer"
                      >
                        <mat-label class="text-muted">NÚMERO CHEQUE</mat-label>

                        <input
                          matInput
                          (keypress)="keyPressNumbers($event)"
                          type="tel"
                          formControlName="check_mov"
                          autocomplete="off"
                          class="cursor-pointer text-center text-size-18px"
                        />
                        <mat-hint class="w-100 text-dark"></mat-hint>
                        <mat-error
                          class="text-danger"
                          *ngIf="
                            this.father.GroupFormGeneralisControlHasError(
                              this.formHeader,
                              'check_mov',
                              this.formHeaderErrors
                            )
                          "
                          >{{ this.formHeaderErrors.check_mov }}</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>
                </form>
              </div>

              <form [formGroup]="formDetails">
                <span #tooltip="matTooltip" matTooltip="Agregar "
                  ><img
                    class="cursor-pointer"
                    (click)="addRow()"
                    src="../../assets/img/add-file.png"
                    width="50px"
                    alt=""
                /></span>
                <span
                  *ngIf="rowsDetails.length > 0"
                  #tooltip="matTooltip"
                  matTooltip="Guardar"
                  ><img
                    class="cursor-pointer ml-2"
                    (click)="SaveMov()"
                    src="../../assets/img/diskette.png"
                    width="45px"
                    alt=""
                /></span>

                <div
                  *ngIf="errorToCreateSeat.state"
                  class="alert alert-danger mt-3"
                  role="alert"
                >
                  {{errorToCreateSeat.message}}
                </div>
                <div class="mat-elevation-z2 overflow-auto max-height-300 mt-3">
                  <table
                    class="w-100 min-width-600"
                    mat-table
                    [dataSource]="dataSourceDetails"
                    formArrayName="dataDetails"
                  >
                    <!-- Row definitions -->
                    <tr
                      mat-header-row
                      *matHeaderRowDef="displayColumnsDetails; sticky: true"
                    ></tr>
                    <tr
                      mat-row
                      *matRowDef="
                        let row;
                        let i = index;
                        columns: displayColumnsDetails
                      "
                    ></tr>

                    <!-- Column definitions -->
                    <ng-container matColumnDef="id_cta_mov">
                      <th
                        class="
                          text-size-18px
                          font-weight-bold
                          text-dark text-center
                        "
                        mat-header-cell
                        *matHeaderCellDef
                      >
                        <strong> CÓDIGO</strong>
                      </th>
                      <td
                        class="pl-2 pr-2"
                        mat-cell
                        *matCellDef="let row; let index = index"
                        [formGroupName]="index"
                      >
                        <mat-form-field
                          appearance="outline"
                          class="w-100 cursor-pointer pt-3"
                        >
                          <input
                            type="text"
                            aria-label="Number"
                            matInput
                            formControlName="id_cta_mov"
                            type="tel"
                            (keyup)="pressFind($event.target.value, index)"
                            (keypress)="keyPressNumbers($event)"
                            class="cursor-pointer text-center text-size-18px"
                            [matAutocomplete]="auto"
                          />
                          <mat-autocomplete
                            #auto="matAutocomplete"
                            (optionSelected)="
                              getPostsNameAccount($event.option.value, index)
                            "
                          >
                            <mat-option
                              [disabled]="
                                option.id_type_account === 1 ? 'true' : 'false'
                              "
                              *ngFor="
                                let option of filteredOptionsAccount[index]
                                  | async
                              "
                              [value]="option.id_account"
                            >
                              {{ option.id_account }} -
                              {{ option.name_account }}
                            </mat-option>
                          </mat-autocomplete>

                          <mat-hint class="w-100 text-dark"></mat-hint>
                          <mat-error
                            class="text-danger"
                            *ngIf="
                              this.father.GroupFormGeneralisControlHasError(
                                this.formDetails,
                                'id_cta_mov',
                                this.formDetailsErrors,
                                true,
                                'dataDetails',
                                index
                              )
                            "
                            >{{ this.formDetailsErrors.id_cta_mov }}</mat-error
                          >
                        </mat-form-field>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="des_cta_mov">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="
                          text-size-18px
                          font-weight-bold
                          text-dark text-center
                        "
                      >
                        <strong> CUENTA</strong>
                      </th>
                      <td
                        class="pl-2 pr-2"
                        mat-cell
                        *matCellDef="let row; let index = index"
                        [formGroupName]="index"
                      >
                        <mat-form-field
                          appearance="outline"
                          class="w-100 cursor-pointer pt-3"
                        >
                          <input
                            matInput
                            disabled
                            readonly
                            type="text"
                            formControlName="des_cta_mov"
                            autocomplete="off"
                            class="
                              cursor-pointer
                              text-center text-size-18px text-muted
                            "
                          />
                          <mat-hint class="w-100 text-dark"></mat-hint>

                          <mat-error
                            class="text-danger"
                            *ngIf="
                              this.father.GroupFormGeneralisControlHasError(
                                this.formDetails,
                                'des_cta_mov',
                                this.formDetailsErrors,
                                true,
                                'dataDetails',
                                index
                              )
                            "
                            >{{ this.formDetailsErrors.des_cta_mov }}</mat-error
                          >
                        </mat-form-field>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="id_state_cta_mov">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="
                          text-size-18px
                          font-weight-bold
                          text-dark text-center
                        "
                      >
                        <strong> TIPO</strong>
                      </th>
                      <td
                        class="pl-2 pr-2"
                        mat-cell
                        *matCellDef="let row; let index = index"
                        [formGroupName]="index"
                      >
                        <mat-form-field
                          appearance="outline"
                          class="w-100 cursor-pointer pt-3"
                        >
                          <mat-select
                            #matRef
                            formControlName="id_state_cta_mov"
                            class="cursor-pointer text-center text-size-18px"
                          >
                            <mat-option
                              class="text-center"
                              *ngFor="let item of typeAccountsMov"
                              value="{{ item.id_type_account_mov }}"
                            >
                              {{
                                item.id_type_account_mov ===
                                typeAccountsMov[0].id_type_account_mov
                                  ? "+"
                                  : "-"
                              }}
                            </mat-option>
                          </mat-select>
                          <mat-hint class="w-100 text-dark"></mat-hint>
                          <mat-error
                            class="text-danger"
                            *ngIf="
                              this.father.GroupFormGeneralisControlHasError(
                                this.formDetails,
                                'id_state_cta_mov',
                                this.formDetailsErrors,
                                true,
                                'dataDetails',
                                index
                              )
                            "
                            >{{
                              this.formDetailsErrors.id_state_cta_mov
                            }}</mat-error
                          >
                        </mat-form-field>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="val_cta_mov">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="
                          text-size-18px
                          font-weight-bold
                          text-dark text-center
                        "
                      >
                        <strong> VALOR</strong>
                      </th>
                      <td
                        class="pl-2 pr-2"
                        mat-cell
                        *matCellDef="let row; let index = index"
                        [formGroupName]="index"
                      >
                        <mat-form-field
                          appearance="outline"
                          class="w-100 cursor-pointer pt-3"
                        >
                          <input
                            matInput
                            currencyMask
                            type="tel"
                            formControlName="val_cta_mov"
                            autocomplete="off"
                            class="cursor-pointer text-center text-size-18px"
                          />

                          <mat-hint class="w-100 text-dark"></mat-hint>
                          <mat-error
                            class="text-danger"
                            *ngIf="
                              this.father.GroupFormGeneralisControlHasError(
                                this.formDetails,
                                'val_cta_mov',
                                this.formDetailsErrors,
                                true,
                                'dataDetails',
                                index
                              )
                            "
                            >{{ this.formDetailsErrors.val_cta_mov }}</mat-error
                          >
                        </mat-form-field>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="glo_cta_mov">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="
                          text-size-18px
                          font-weight-bold
                          text-dark text-center
                        "
                      >
                        <strong>GLOSA</strong>
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let row; let index = index"
                        [formGroupName]="index"
                        class="pl-2 pr-4"
                      >
                        <mat-form-field
                          appearance="outline"
                          class="w-100 cursor-pointer pt-3"
                        >
                          <input
                            matInput
                            type="text"
                            formControlName="glo_cta_mov"
                            autocomplete="off"
                            class="cursor-pointer text-center text-size-18px"
                          />
                          <mat-hint class="w-100 text-dark"></mat-hint>
                          <mat-error
                            class="text-danger"
                            *ngIf="
                              this.father.GroupFormGeneralisControlHasError(
                                this.formDetails,
                                'glo_cta_mov',
                                this.formDetailsErrors,
                                true,
                                'dataDetails',
                                index
                              )
                            "
                            >{{ this.formDetailsErrors.glo_cta_mov }}</mat-error
                          >
                        </mat-form-field>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="cancel">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td
                        mat-cell
                        *matCellDef="let row; let index = index"
                        [formGroupName]="index"
                        class="mx-auto"
                      >
                        <span
                          #tooltip="matTooltip"
                          class="text-center"
                          matTooltip="Eliminar"
                          ><img
                            class="cursor-pointer"
                            (click)="deleteRow(index)"
                            src="../../assets/img/file-delete.png"
                            width="50px"
                            alt=""
                        /></span>
                      </td>
                    </ng-container>
                  </table>
                </div>
              </form>

              <!-- <pre>{{ formDetails.value | json }}</pre> -->
            </div>
          </mat-tab></mat-tab-group
        >
      </div>
    </div>
  </div>
</div>
